.footer--first-section{
    padding-top : 2.5rem;
    padding-bottom : 2.5rem;
}
.footer--menu-wrapper{
    margin-left : 8rem;
}
.footer--menu-wrapper--title{
    margin-bottom : 1rem;
}
.footer--menu--link{
    padding-top : 0.2rem;
    padding-bottom : 0.2rem;
}
.footer--app-wrapper{
    width : 14rem;
    height : 4rem;
    margin-top : 0.8rem;
    padding : 0.5rem 0.8rem;
}
.footer--app-wrapper:last-child{
    padding-top : 1rem;
    padding-bottom : 1rem;
}
.footer--second-section{
    background-color : var(--gray-04);
    padding-top : 1.5rem;
    padding-bottom : 1.5rem;
}
.footer--social-networks-menu--link>.footer--social-networks-menu--item--img{
    opacity : 0.75;
    transition : opacity 0.3s;
}
.footer--social-networks-menu--link:hover>.footer--social-networks-menu--item--img{
    opacity :1;
}
